<!DOCTYPE html>
<html>
<head>
    <title>Edit Item</title>
</head>
<body>
    <h1>Question Details</h1>
    <p><strong>Question :</strong> {{ item.question_text }}</p>
    <p><strong>Date_&_Time :</strong> {{ item.pub_date }}</p>
    <p><strong>Status :</strong> {{ item.get_status_display }}</p>
    <h2>Edit Question</h2>
    <form method="post">
        {% csrf_token %}
        <label for="Question_text">Question :</label>
        <input type="text" id="question_text" name="question_text" value="{{ item.question_text }}" required>
        <br>
        <label for="pub_date">Date_&_time:</label>
        <input type="datetime-local" id="pub_date" name="pub_date" value="{{ item.pub_date }}" required>
        <button type="submit">Save</button>
    </form>
</body>
</html>
